<?xml version="1.0" encoding="utf-8" ?>
<Model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://scaleton.mastersign.de/2013/model"
       xsi:schemaLocation="http://scaleton.mastersign.de/2013/model http://scaleton.mastersign.de/Scaleton_Model_2013.xsd">

  <ModelFeatures>
    <ChangeTracking level="Tracking" escalateChangeState="true" />
    <ToString />
  </ModelFeatures>

  <Types>
    
    <Class name="Setup">

      <Property name="Parallelization" type="ParallelizationMode">
        <Category>Verarbeitung</Category>
        <DisplayName>Parallelisierung</DisplayName>
        <Description>Gibt an, ob die Anzahl der parallelen Aufgaben je Prozess automatisch ermittelt werden soll, oder ob der Wert von 'Parallele Aufgaben' verwendet werden soll.</Description>
        <DefaultValue>Auto</DefaultValue>
      </Property>
      <Property name="ParallelTasks" type="int">
        <Category>Verarbeitung</Category>
        <DisplayName>Parallele Aufgaben</DisplayName>
        <Description>Die manuelle Angabe für die maximale Anzahl von parallelen Aufgaben in einem Prozess.</Description>
        <DefaultValue>2</DefaultValue>
      </Property>
      
      <Property name="DownloadTimeout" type="int">
        <Category>Ressourcen</Category>
        <DisplayName>Download-Timeout</DisplayName>
        <Description>Die Anzahl der Sekunden, nach denen der Versuch, eine Kategorie-Ressource herunterzuladen, abgebrochen werden soll.</Description>
        <DefaultValue>30</DefaultValue>
      </Property>
      <Property name="CompatibleAudioFileExtensions" type="string">
        <Category>Ressourcen</Category>
        <DisplayName>Audiodateiendungen</DisplayName>
        <Description>Eine Liste mit Dateiendungen für unterstützte Audiodateien. Die Endungen werden ohne führenden Punkt angegeben und durch Leerzeichen getrennt.</Description>
        <DefaultValue>wav mp3 wma ogg ac3 acc aif mp1 mp2 mpa m2a m4a ra</DefaultValue>
      </Property>
      <Property name="CompatibleVideoFileExtensions" type="string">
        <Category>Ressourcen</Category>
        <DisplayName>Videodateiendungen</DisplayName>
        <Description>Eine Liste mit Dateiendungen für unterstützte Videodateien. Die Endungen werden ohne führenden Punkt angegeben und durch Leerzeichen getrennt.</Description>
        <DefaultValue>avi mpg wmv ogv webm mov mkv 3gp mpv m2v mp4 m4v</DefaultValue>
      </Property>

      <Property name="Ffmpeg">
        <Category>Hilfsprogramme</Category>
        <DisplayName>FFmpeg</DisplayName>
        <Description>Der Pfad von ffmpeg.exe.</Description>
        <DefaultValue>tools/ffmpeg/bin/ffmpeg.exe</DefaultValue>
      </Property>
      <Property name="Ffprobe">
        <Category>Hilfsprogramme</Category>
        <DisplayName>FFprobe</DisplayName>
        <Description>Der Pfad von ffprobe.exe.</Description>
        <DefaultValue>tools/ffmpeg/bin/ffprobe.exe</DefaultValue>
      </Property>
      <Property name="WaveViz">
        <Category>Hilfsprogramme</Category>
        <DisplayName>WaveViz</DisplayName>
        <Description>Der Pfad von WaveViz.exe.</Description>
        <DefaultValue>tools/WaveViz/WaveViz.exe</DefaultValue>
      </Property>
      <Property name="Transcripter">
        <Category>Hilfsprogramme</Category>
        <DisplayName>Transcripter</DisplayName>
        <Description>Der Pfad von Transcripter.exe.</Description>
        <DefaultValue>tools/Transcripter/Transcripter.exe</DefaultValue>
      </Property>
      <Property name="Distillery">
        <Category>Hilfsprogramme</Category>
        <DisplayName>distillery</DisplayName>
        <Description>Der Pfad von distillery.jar.</Description>
        <DefaultValue>tools/distillery.jar</DefaultValue>
      </Property>
      <Property name="JavaRuntime">
        <Category>Hilfsprogramme</Category>
        <DisplayName>JRE</DisplayName>
        <Description>Der Pfad zu java.exe oder leer wenn die Java-Laufzeitumgebung automatisch ermittelt werden soll.</Description>
      </Property>

    </Class>

    <Enum name="ParallelizationMode">
      <Member name="None" />
      <Member name="Auto" />
      <Member name="Manual" />
    </Enum>

  </Types>
</Model>